@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: "Merriweather", "sans-serif";
    }
    body{
        background-color: rgb(201, 121, 107);
        overflow-x: hidden
    }
}

@layer components {
    .input-box {
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 mb-4 rounded outline-none;
    }

    .btn-primary {
        @apply w-full text-sm bg-primary text-white p-2 rounded my-1 hover:bg-blue-700;
    }

    .icon-btn {
        @apply text-2xl text-white cursor-pointer hover:text-primary
    }

    .input-label {
        @apply text-sm text-slate-400
    }
}